<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Pagina para ver los animales </title>
</head>
<body>
<h2>Animal 1</h2>
<p>
    <b>ID</b>:
    <span th:text="${animal1.id}"></span>
</p>
<p>
    <b>ChipCode</b>:
    <span th:text="${animal1.chipcode}"></span>
</p>
<p>
    <b>Name</b>:
    <span th:text="${animal1.name}"></span>
</p>
<p>
    <b>Age</b>:
    <span th:text="${animal1.age}"></span>
</p>

<p>
    <b>Weight</b>:
    <span th:text="${animal1.weight}"></span>
</p>


<h2>Animal 2</h2>
<p>
    <b>ID</b>:
    <span th:text="${animal2.id}"></span>
</p>
<p>
    <b>ChipCode</b>:
    <span th:text="${animal2.chipcode}"></span>
</p>
<p>
    <b>Name</b>:
    <span th:text="${animal2.name}"></span>
</p>
<p>
    <b>Age</b>:
    <span th:text="${animal2.age}"></span>
</p>

<p>
    <b>Weight</b>:
    <span th:text="${animal2.weight}"></span>
</p>






</body>
</html>